[Desktop Entry]
Version=1.0
Name=SLART: Partyman
GenericName=audio player
Comment=audio player
Type=Application
Exec=Partyman
Icon=Partyman
Categories=AudioVideo;
