[Desktop Entry]
Version=1.0
Name=SLART: Karmadrome
GenericName=music categoriser
Comment=music categoriser
Type=Application
Exec=Karmadrome
Icon=Karmadrome
Categories=AudioVideo;Audio;Qt;SLART;
