[Desktop Entry]
Version=1.0
Name=SLART: Funkytown
GenericName=audio downloader
Comment=audio downloader
Type=Application
Exec=Funkytown
Icon=Funkytown
Categories=AudioVideo;Audio;Qt;SLART;
