Package: slart
Version: ${version}
Section: unknown
Priority: extra
Architecture: ${arch}
Depends: ${shlibs:Depends}
Installed-Size: ${size}
Maintainer: Sven Oliver Moll <svolli@svolli.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Source: slart
Description: SvOlli's Little Audio Related Thingies
 SvOlli's Little Audio Related Thingies, or SLART for short, is a compilation
 of rather simple programs that are related to audio files: it consists of a
 player (Partyman), a CD ripper (Stripped), a tag editor (Rubberbandman), a
 downloader for music files (Funkytown) and some other tools. These programs
 can communicate with each other, so a newly ripped track can be automatically
 queued in the player, for example.
